@media (max-width:1024px) {

  .top{
    text-align: center;
  }
  .left {
    width: calc((100% - 5px)/2);
  }  
  .right {
    margin-left: 10px;
    width: calc((100% - 5px)/2);
  }

}

@media (max-width:600px) {

  .row{
    display: block;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    margin-left: 0;
  }
}
